<template lang="jade">
  v-card
    v-card-title
      h1.headline {{ title }}
      v-spacer
      v-btn(@click.stop="dialog = true", icon)
        v-icon(color="primary") create
      v-btn(@click="getData", icon)
        v-icon(color="green darken-1") refresh

    v-dialog(v-model="dialog", :width="dialogWidth", :fullscreen="$vuetify.breakpoint.xsOnly")
      v-card
        v-card-title
          span.headline {{ dialogTitle }}
        v-card-text
          template(v-for="field in fields")
            v-select(
              v-if="field.tags",
              :label="field.text",
              :items="tags"
              tags
              chips
              deletable-chips
              v-model="editedItem[field.value]"
              hint="Для выбора существующей метки нужно выбрать мышью, либо стелками [UP], [DOWN] нужную метку из списка и нажать [TAB] или [ENTER]. Для создания новой метки нужно после ввода полного текста метки нажать [TAB] или [ENTER]"
            )
            v-select(
              v-else-if="field.selectItems",
              :label="field.text",
              :items="field.selectItems"
              v-model="editedItem[field.value]"
            )
            file-image(
              v-else-if="field.type === 'image'"
              v-model="editedItem[field.value]"
              @fileData="f => files[field.image] = f"
            )
            file-input(
              v-else-if="field.type === 'file'"
              v-model="editedItem[field.value]"
              @fileData="f => files[field.file] = f"
            )
            v-switch(
              v-else-if="field.type === 'switch'",
              :label="field.text"
              v-model="editedItem[field.value]"
            )
            vue-editor(
              v-else-if="field.editor"
              v-model="editedItem[field.value]",
              :useCustomImageHandler="true"
              @imageAdded="uploadEditorImage"
            )
            v-text-field(
              v-else,
              :label="field.text"
              v-model="editedItem[field.value]",
              :type="field.type",
              :multi-line="field.multiline"
            )
        v-card-actions
          v-spacer
          v-btn(color="blue darken-1", flat, @click.native="close", :disabled="disableControls") Отмена
          v-btn(color="blue darken-1", flat, @click.native="save", :disabled="disableControls") Сохранить

    v-data-table(
      :headers="headers",
      :items="items",
      :loading="loading"
      hide-actions
      no-data-text="Нет данных"
    )
      template(slot="items", slot-scope="props")
        td(
          v-for="field in fields",
          :key="field.value"
          v-if="!field.hideColumn"
        ) {{ getItemValue(field, props) }}
        td
          v-btn.mx-0(icon, @click="editItem(props.item)")
            v-icon(color="teal") edit
          v-btn.mx-0(icon, @click="deleteItem(props.item)")
            v-icon(color="pink") delete
</template>

<script>
import http from '../http'
import FileImage from './FileImage'
import FileInput from './FileInput'
import { VueEditor } from 'vue2-editor'

export default {
  components: {
    FileImage,
    FileInput,
    VueEditor
  },

  props: {
    title: String,
    url: String,
    fields: Array,
    defaultItem: Object,
    dialogWidth: {
      type: String,
      default: '60%'
    }
  },

  data () {
    const headers = this.fields.slice().filter(h => h.hideColumn !== true)
    headers.push({
      text: 'Действия',
      sortable: false
    })

    const internalDefaultItem = Object.assign({}, this.defaultItem)

    return {
      headers: headers,
      items: [],
      dialog: false,
      internalDefaultItem: internalDefaultItem,
      editedIndex: -1,
      editedItem: Object.assign({}, internalDefaultItem),
      files: {},
      filesToBeDeleted: [],
      disableControls: false,
      tags: [],
      hasTags: this.fields.filter(f => f.tags)[0] !== undefined,
      loading: false
    }
  },

  methods: {
    getData () {
      this.loading = true
      http(this.url).then(r => {
        this.items = r.data._embedded[this.url]
        this.fillTags()
        this.$emit('load', this.items)
        this.loading = false
      })
      this.refreshTagsList()
    },

    refreshTagsList () {
      if (this.hasTags) {
        this.internalDefaultItem.tagsTitles = []

        http('tags').then(r => {
          r.data._embedded.tags.forEach(t => {
            this.tags.push(t.title)
          })
        })
      }
    },

    fillTags () {
      if (this.hasTags) {
        this.items.forEach(i => {
          i.tagsTitles = []
          http(i._links.tags.href).then(r => {
            r.data._embedded.tags.forEach(t => i.tagsTitles.push(t.title))
          })
        })
      }
    },

    editItem (item) {
      this.editedIndex = this.items.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.fillFilesToBeDeleted(item)
      this.files = {}
      this.dialog = true
    },

    deleteItem (item) {
      const index = this.items.indexOf(item)
      this.fillFilesToBeDeleted(item)
      confirm('Удалить запись?') &&
        http.delete(item._links.self.href).then(r => {
          this.items.splice(index, 1)
          this.deleteFiles()
        })
    },

    fillFilesToBeDeleted (item) {
      this.filesToBeDeleted = []
      this.headers
        .filter(f => f.type === 'image' || f.type === 'file')
        .forEach(f => {
          this.filesToBeDeleted.push(item[f.value])
        })
    },

    deleteFiles () {
      this.filesToBeDeleted.forEach(f => http.delete(http.FILE_MANAGER_DELETE + f))
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.internalDefaultItem)
        this.editedIndex = -1
        this.disableControls = false
      }, 300)
    },

    save () {
      this.disableControls = true

      this.saveTags(() => {
        if (this.editedIndex > -1) {
          http.patch(this.editedItem._links.self.href, this.editedItem).then(r => {
            Object.assign(this.items[this.editedIndex], this.editedItem)
            this.uploadFiles(this.deleteFiles)
            this.close()
          })
        } else {
          http.post(this.url, this.editedItem).then(r => {
            this.editedItem._links = r.data._links
            this.items.push(this.editedItem)
            this.uploadFiles()
            this.close()
          })
        }
      })
    },

    saveTags (saveItem) {
      if (this.hasTags) {
        this.editedItem.tags = []
        const tagsTitles = {
          tags: this.editedItem.tagsTitles
        }
        http.post('tags/get-ids', tagsTitles).then(r => {
          r.data.forEach(id => this.editedItem.tags.push(id))
          this.refreshTagsList()
          saveItem()
        })
      } else {
        saveItem()
      }
    },

    uploadFiles (deleteFiles) {
      for (const f in this.files) {
        const file = this.files[f]
        if (file !== null) {
          const form = new FormData()
          form.set('file', file)
          http.post(http.FILE_MANAGER_UPLOAD, form).then(r => {
            deleteFiles && deleteFiles()
          })
        }
      }
    },

    getItemValue (field, props) {
      if (field.selectItems) {
        const item = field.selectItems.filter(i => i.value === props.item[field.value])[0]
        return item ? item.text : '???'
      } else {
        return props.item[field.value]
      }
    },

    uploadEditorImage (file, editor, cursorLocation, resetUploader) {
      const form = new FormData()
      form.set('file', file)

      http.post(http.FILE_MANAGER_UPLOAD_MEDIA, form).then(r => {
        editor.insertEmbed(cursorLocation, 'image', '/storage/media/' + file.name)
        resetUploader()
      })
    }
  },

  computed: {
    dialogTitle () {
      return this.editedIndex === -1 ? 'Создать' : 'Редактировать'
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    }
  },

  created () {
    this.getData()
  }
}
</script>
