<template lang="jade">
  app-table(
    title="Литература"
    url="books",
    :fields="fields"
    @load="onLoaded"
  )
</template>

<script>
import AppTable from './AppTable'
import http from '../http'

export default {
  components: {
    AppTable
  },

  data () {
    const sections = []
    http('sections/search/findByType?type=LIBRARY').then(r => {
      r.data._embedded.sections.forEach(s => {
        sections.push({
          value: s._links.self.href,
          text: s.title
        })
      })
    })
    return {
      fields: [
        {
          text: 'Наименование',
          value: 'title'
        },
        {
          text: 'Файл',
          value: 'url',
          type: 'file',
          file: 'file'
        },
        {
          text: 'Опубликовано',
          value: 'publishedOn',
          type: 'date'
        },
        {
          text: 'Автор(ы)',
          value: 'authors'
        },
        {
          text: 'Раздел',
          value: 'section',
          selectItems: sections
        }
      ]
    }
  },

  methods: {
    onLoaded (items) {
      for (const i of items) {
        i.section = i._links.sectionRef.href.slice(0, -13)
      }
    }
  }
}
</script>
