<template lang="jade">
  app-table(
    title="Календарь"
    url="calendars",
    :fields="fields"
  )
</template>

<script>
import AppTable from './AppTable'

export default {
  components: {
    AppTable
  },
  data () {
    return {
      fields: [
        {
          text: 'Наименование',
          value: 'title'
        },
        {
          text: 'Дата',
          value: 'date',
          type: 'date'
        }
      ]
    }
  }
}
</script>
