<template lang="jade">
  app-table(
    title="События"
    url="events",
    :fields="fields"
  )
</template>

<script>
import AppTable from './AppTable'

export default {
  components: {
    AppTable
  },
  data () {
    return {
      fields: [
        {
          text: 'Текст',
          value: 'text',
          multiline: true
        },
        {
          text: 'Опубликовано',
          value: 'publishedOn',
          type: 'date'
        }
      ]
    }
  }
}
</script>
