<template lang="jade">
  div
    div.image
      img(
        :src="imageUrl"
        @click="onPickFile"
      )

      p.pt-3(ref="filename") {{ filename }}

    div
      v-btn(v-if="!imageUrl", @click="onPickFile", flat, block, color="blue darken-1") Выбрать изображение
      v-btn(v-else, @click="removeFile", flat, block, color="blue darken-1") Удалить изображение
        
      input(
        type="file"
        ref="image"
        name="image"
        accept="image/*"
        @change="onFilePicked"
      )
</template>

<script>
// https://github.com/vuetifyjs/vuetify/issues/238#issuecomment-341274460

export default {
  props: {
    value: {
      type: String
    }
  },

  data () {
    return {
      imageUrl: '',
      filename: ''
    }
  },

  watch: {
    value (v) {
      this.filename = v
      if (v === undefined || v === '') {
        this.imageUrl = ''
      } else {
        this.imageUrl = 'storage/' + v
      }
    }
  },

  // mounted () {
  //   this.imageUrl = this.value
  // },

  methods: {
    onPickFile () {
      this.$refs.image.value = ''
      this.$refs.image.click()
    },

    onFilePicked (event) {
      const files = event.target.files || event.dataTransfer.files

      if (files && files[0]) {
        let filename = files[0].name

        const fileReader = new FileReader()
        fileReader.addEventListener('load', () => {
          this.imageUrl = fileReader.result
        })
        fileReader.readAsDataURL(files[0])

        this.$emit('input', filename)
        this.$emit('fileData', files[0])
      }
    },

    removeFile () {
      this.imageUrl = ''
      this.filename = ''
      this.$emit('input', '')
      this.$emit('fileData', null)
    }
  }
}
</script>

<style scoped lang="scss">
input[type="file"] {
  position: absolute;
  left: -99999px;
}

.image {
  text-align: center;

  img {
    cursor: pointer;
    height: 150px;
  }
}
</style>
