<template>
  <div>
    <v-text-field prepend-icon="attach_file" single-line readonly
                  v-model="filename" :label="label" :required="required"
                  @click.native="onFocus"
                  :disabled="disabled"></v-text-field>
    <input type="file" :accept="accept" :disabled="disabled"
           ref="fileInput" @change="onFileChange">
  </div>
</template>

<script>
// https://gist.github.com/dohomi/2bba9e2905d00cd1cec9c09cfd87bd10#file-file-input-vue

export default {
  props: {
    value: {
      type: [Array, String]
    },
    accept: {
      type: String,
      default: '*'
    },
    label: {
      type: String,
      default: 'Выберите файл'
    },
    required: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      filename: ''
    }
  },
  watch: {
    value (v) {
      this.filename = v
    }
  },
  mounted () {
    this.filename = this.value
  },
  methods: {
    onFocus () {
      if (!this.disabled) {
        this.$refs.fileInput.click()
      }
    },
    onFileChange ($event) {
      const files = $event.target.files || $event.dataTransfer.files
      if (files && files.length > 0) {
        this.filename = files[0].name
        this.$emit('input', this.filename)
        this.$emit('fileData', files[0])
      }
    }
  }
}
</script>

<style scoped>
input[type="file"] {
  position: absolute;
  left: -99999px;
}
</style>
