<template lang="jade">
  app-table(
    title="Партнеры"
    url="partners",
    :fields="fields"
  )
</template>

<script>
import AppTable from './AppTable'

export default {
  components: {
    AppTable
  },
  data () {
    return {
      fields: [
        {
          text: 'Наименование',
          value: 'title'
        },
        {
          text: 'Ссылка',
          value: 'url'
        },
        {
          text: 'Вес',
          value: 'weight',
          type: 'number'
        }
      ]
    }
  }
}
</script>
