<template lang="jade">
  app-table(
    title="Текстовые материалы"
    url="posts",
    :fields="fields"
    @load="onLoaded"
    dialogWidth="'90%'",
    :defaultItem="defaultItem"    
  )
</template>

<script>
import AppTable from './AppTable'
import http from '../http'

export default {
  components: {
    AppTable
  },

  data () {
    const sections = []

    http('sections/search/findByType?type=TEXTS').then(r => {
      r.data._embedded.sections.forEach(s => {
        sections.push({
          value: s._links.self.href,
          text: s.title
        })
      })
    })

    return {
      fields: [
        {
          text: 'Наименование',
          value: 'title'
        },
        {
          text: 'Текст',
          value: 'text',
          editor: true,
          hideColumn: true
        },
        {
          text: 'Опубликовано',
          value: 'publishedOn',
          type: 'date'
        },
        {
          text: 'Просмотров',
          value: 'views',
          type: 'number',
          hideColumn: true
        },
        {
          text: 'Раздел',
          value: 'section',
          selectItems: sections
        },
        {
          text: 'Метки',
          value: 'tagsTitles',
          tags: true,
          hideColumn: true
        }
      ],
      defaultItem: {
        text: ''
      }
    }
  },

  methods: {
    onLoaded (items) {
      for (const i of items) {
        i.section = i._links.sectionRef.href.slice(0, -13)
      }
    }
  }
}
</script>
