<template lang="jade">
  app-table(
    title="Котировки"
    url="quotes",
    :fields="fields"
  )
</template>

<script>
import AppTable from './AppTable'

export default {
  components: {
    AppTable
  },
  data () {
    const selectItems = [
      {
        value: 'GOLD',
        text: 'Золото'
      },
      {
        value: 'SILVER',
        text: 'Серебро'
      },
      {
        value: 'FITR',
        text: 'Фитр'
      },
      {
        value: 'FIDYA',
        text: 'Фидья'
      },
      {
        value: 'MAHR',
        text: 'Махр'
      },
      {
        value: 'NISAB',
        text: 'Нисаб'
      }
    ]
    return {
      fields: [
        {
          text: 'Тип',
          value: 'type',
          selectItems: selectItems
        },
        {
          text: 'Цена',
          value: 'price'
        },
        {
          text: 'Вес',
          value: 'weight',
          type: 'number'
        }
      ]
    }
  }
}
</script>
