<template lang="jade">
  app-table(
    title="Разделы"
    url="sections",
    :fields="fields"
  )
</template>

<script>
import AppTable from './AppTable'

export default {
  components: {
    AppTable
  },
  data () {
    const selectItems = [
      {
        value: 'MADRASA',
        text: 'Медресе'
      },
      {
        value: 'TEXTS',
        text: 'Тексты'
      },
      {
        value: 'LIBRARY',
        text: 'Библиотека'
      }
    ]
    return {
      fields: [
        {
          text: 'Тип',
          value: 'type',
          selectItems: selectItems
        },
        {
          text: 'Наименование',
          value: 'title'
        },
        {
          text: 'Вес',
          value: 'weight',
          type: 'number'
        }
      ]
    }
  }
}
</script>
