<template lang="jade">
  v-card
    v-card-title
      h1.headline Настройки

    v-card-text
      v-text-field(
        label="Коррекция даты по хиджре"
        type="number"
        v-model="hijrahCorrection"
        hint="Смещение дней, относительно текущей даты"
      )
      v-text-field(
        label="Адрес YouTube"
        v-model="youTube"
      )
      v-text-field(
        label="Адрес VK"
        v-model="vk"
      )
      v-text-field(
        label="Адрес Facebook"
        v-model="facebook"
      )
      v-text-field(
        label="Адрес Twitter"
        v-model="twitter"
      )
      v-btn(color="blue darken-1" flat block @click.native="saveSettings") Сохранить
      
      v-divider

      v-subheader Загрузка времени намазов
      v-container(grid-list-xs)
        v-layout(wrap)
          v-flex(xs12 md6)
            file-input(
              @fileData="f => prayerTimesFile = f"
              accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              :disabled="prayerTimesLoading"
            )
          v-flex(xs12 md6)
            v-btn(
              color="blue darken-1"
              flat
              @click.native="loadPrayerTimes",
              :loading="prayerTimesLoading",
              :disabled="prayerTimesFile === null"
            ) Загрузить

</template>

<script>
import FileInput from './FileInput'
import http from '../http'

let hijrahCorrectionHRef
let youTubeHRef
let vkHRef
let facebookHRef
let twitterHRef

export default {
  components: {
    FileInput
  },

  data () {
    return {
      hijrahCorrection: '',
      youTube: '',
      vk: '',
      facebook: '',
      twitter: '',
      prayerTimesFile: null,
      prayerTimesLoading: false
    }
  },

  methods: {
    getSettings () {
      http('settings/search/findByType?type=HIJRAH_CORRECTION').then(r => {
        this.hijrahCorrection = r.data.value
        hijrahCorrectionHRef = r.data._links.self.href
      })
      http('settings/search/findByType?type=YOUTUBE').then(r => {
        this.youTube = r.data.value
        youTubeHRef = r.data._links.self.href
      })
      http('settings/search/findByType?type=FACEBOOK').then(r => {
        this.facebook = r.data.value
        facebookHRef = r.data._links.self.href
      })
      http('settings/search/findByType?type=VK').then(r => {
        this.vk = r.data.value
        vkHRef = r.data._links.self.href
      })
      http('settings/search/findByType?type=TWITTER').then(r => {
        this.twitter = r.data.value
        twitterHRef = r.data._links.self.href
      })
    },

    saveSettings () {
      http.patch(hijrahCorrectionHRef, { value: this.hijrahCorrection })
      http.patch(youTubeHRef, { value: this.youTube })
      http.patch(vkHRef, { value: this.vk })
      http.patch(facebookHRef, { value: this.facebook })
      http.patch(twitterHRef, { value: this.twitter })
    },

    loadPrayerTimes () {
      this.prayerTimesLoading = true
      const form = new FormData()
      form.set('file', this.prayerTimesFile)
      http.post('prayer-times/load', form).then(r => {
        this.prayerTimesLoading = false
      })
    }
  },

  created () {
    this.getSettings()
  }
}
</script>
