<template lang="jade">
  app-table(
    title="Преподаватели"
    url="teachers",
    :fields="fields",
    :dialogWidth="'80%'"
  )
</template>

<script>
import AppTable from './AppTable'

export default {
  components: {
    AppTable
  },
  data () {
    return {
      fields: [
        {
          text: 'ФИО',
          value: 'name'
        },
        {
          text: 'Описание',
          value: 'description',
          multiline: true
        },
        {
          text: 'Изображение',
          value: 'image',
          type: 'image',
          image: 'image'
        },
        {
          text: 'Вес',
          value: 'weight',
          type: 'number'
        }
      ]
    }
  }
}
</script>
