<template lang="jade">
  app-table(
    title="Видео"
    url="videos",
    :fields="fields"
    @load="onLoaded"
  )
</template>

<script>
import AppTable from './AppTable'
import http from '../http'

export default {
  components: {
    AppTable
  },

  data () {
    const sections = []
    const teachers = []

    http('sections/search/findByType?type=MADRASA').then(r => {
      r.data._embedded.sections.forEach(s => {
        sections.push({
          value: s._links.self.href,
          text: s.title
        })
      })
    })

    http('teachers').then(r => {
      r.data._embedded.teachers.forEach(t => {
        teachers.push({
          value: t._links.self.href,
          text: t.name
        })
      })
    })

    return {
      fields: [
        {
          text: 'Наименование',
          value: 'title'
        },
        {
          text: 'Идентификатор видео',
          value: 'videoId',
          hideColumn: true
        },
        {
          text: 'Опубликовано',
          value: 'publishedOn',
          type: 'date'
        },
        {
          text: 'Просмотров',
          value: 'views',
          type: 'number',
          hideColumn: true
        },
        {
          text: 'Отображать в слайдере',
          value: 'showInSlider',
          type: 'switch',
          hideColumn: true
        },
        {
          text: 'Изображение в слайдере',
          value: 'image',
          type: 'image',
          image: 'image'
        },
        {
          text: 'Преподаватель',
          value: 'teacher',
          selectItems: teachers
        },
        {
          text: 'Раздел',
          value: 'section',
          selectItems: sections
        },
        {
          text: 'Метки',
          value: 'tagsTitles',
          tags: true,
          hideColumn: true
        }
      ]
    }
  },

  methods: {
    onLoaded (items) {
      for (const i of items) {
        i.section = i._links.sectionRef.href.slice(0, -13)
        i.teacher = i._links.teacherRef.href
      }
    }
  }
}
</script>
