<template lang="jade">
  v-app
    v-navigation-drawer(
      persistent,
      :mini-variant="miniVariant"
      v-model="drawer"
      enable-resize-watcher
      app
      width="250"
    )
      v-list
        template(v-for="(item, i) in items")
          v-list-tile(
            v-if="item.title",
            :key="i",
            :to="item.link"
          )
            v-list-tile-action
              v-icon(v-html="item.icon")
            v-list-tile-content
              v-list-tile-title(v-text="item.title")
          v-divider(v-else-if="item.divider", :key="i")

    v-toolbar(app)
      v-toolbar-side-icon(@click.stop="drawer = !drawer")
      v-btn(icon, @click.stop="miniVariant = !miniVariant")
        v-icon(v-html="miniVariant ? 'chevron_right' : 'chevron_left'")
      v-toolbar-title(class="title", @click="$router.push('/')") {{ title }}

    v-content
      router-view

    v-footer.px-3(app)
      v-spacer
      span &copy; {{ currentYear }} &mdash; {{ title }}
</template>

<script>
export default {
  data () {
    return {
      drawer: true,
      items: [
        {
          icon: 'ondemand_video',
          title: 'Видео',
          link: '/videos'
        },
        {
          icon: 'text_format',
          title: 'Текстовые материалы',
          link: '/posts'
        },
        {
          icon: 'event_available',
          title: 'События',
          link: '/events'
        },
        {
          icon: 'format_quote',
          title: 'Цитаты',
          link: '/quotations'
        },
        {
          icon: 'local_library',
          title: 'Литература',
          link: '/books'
        },
        {
          divider: true
        },
        {
          icon: 'bookmark',
          title: 'Разделы',
          link: '/sections'
        },
        {
          icon: 'people',
          title: 'Преподаватели',
          link: '/teachers'
        },
        {
          icon: 'event',
          title: 'Календарь',
          link: '/calendar'
        },
        {
          icon: 'thumb_up',
          title: 'Полезные ссылки',
          link: '/useful-links'
        },
        {
          icon: 'favorite',
          title: 'Партнеры',
          link: '/partners'
        },
        {
          icon: 'trending_up',
          title: 'Котировки',
          link: '/quotes'
        },
        {
          divider: true
        },
        {
          icon: 'settings',
          title: 'Настройки',
          link: '/settings'
        }
      ],
      miniVariant: false,
      title: 'Muslim media',
      currentYear: new Date().getFullYear()
    }
  }
}
</script>

<style scoped>
.title {
  color: #b41a1f;
  cursor: pointer;
}
</style>
